// Fonts
$primary-font: "Inter", sans-serif;

// Colors
$text-color: #3c3c3c;
$background-color: #f9fafb;
$white: #ffffff;
$grey: #9ca3af;

$blue: #1976d2;
$green: #2e7d32;
$red: #d32f2f;
$black: #111;
